@model NisiulInfoSoft.DTO.PersonalDTO

@{
    ViewData["Title"] = "Detalle";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle personal: @Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Código
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPer)
        </dd>
        <dt class="col-sm-2">
            Empresa
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.empresa
        </dd>
        <dt class="col-sm-2">
            Área
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.area
        </dd>
        <dt class="col-sm-2">
            Cargo
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.cargo
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            Apellido paterno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>
        <dt class="col-sm-2">
            Apellido materno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Sexo)*@
            @(Model.Sexo.Equals("M") ? "Masculino" : "Femenino")
        </dd>
        <dt class="col-sm-2">
            Fecha registro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class="col-sm-2">
            Fecha nacimiento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            Fecha contacto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaContacto)
        </dd>
        <dt class="col-sm-2">
            Teléfono
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class="col-sm-2">
            Dirección
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            Observación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Estado)*@
            @(Model.Estado == true ? "Activo" : "Inactivo")
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IdPer }) |
    <a asp-action="Index">Back to List</a>
</div>
