@model IEnumerable<NisiulInfoSoft.DTO.TipoUsuarioDTO>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado de tipos de usuarios</h1>

<p>
    <a asp-action="Editar">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Descripción
            </th>
            <th>
                Observación
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Estado)*@
                    @(item.Estado == true ? "Activo" : "Inactivo")
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.IdTip }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdTip })
                </td>
            </tr>
        }
    </tbody>
</table>
